<div class="main_con" style="transform: translateY(46px);">
    <!--banner-->
    <div class="banner_con">
        <img class="banner_img" src="~/Content/Images/content_img/banner_con_3.jpg" />
        <div class="banner_about_txt">
            <img src="~/Content/Images/content_img/banner_con_4txt.png" />
        </div>
    </div>

    <!--路径导航-->
    <div class="breadcrumb_con">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active">关于我们</li>
            </ol>
        </div>
    </div>
    <!--关于我们-->
    <div class="about_con">

        <div class="container-fluid">
            <div class="about_left"><img src="~/Content/Images/content_img/about_txt.png" /></div>
            <div class="about_right">
                <img class="about_img1" src="~/Content/Images/content_img/about_txt1.png" />
                <p>
                    严绿装饰，是一家专做老房改造与翻新，局部改造，新房装修和精装房升级的专业装饰公司。
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;严绿装饰秉承着“把装修变得简单，让生活更有温度”的企业理念，致力于为更多的客户提供高品质的家装服务。让装修变得更人性化、个性化与透明化。
                </p>
                <img src="~/Content/Images/content_img/brand_1.png" />

            </div>
        </div>

    </div>
    <!--服务-->
    <div class="Service_lc">
        <div class="container-fluid">
            <h1>服务流程</h1>
            <p>精美案例真实呈现 发现新家装修灵感</p>
            <div class="service_img"><img src="~/Content/Images/content_img/liuc.jpg" /></div>

        </div>
    </div>


</div>

