@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="article_left">
    <article>
        <h1>冬季装修你应该知道的3件事</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_02_01.jpg" /></p>
        <p class="p_center">一直以来，冬季装修都备受冷落，因为在装修施工中，木工、瓦工、油工等施工工序都不易横跨供暖季。如果横跨供暖季，将对后期的装修施工带来各种不利影响。 </p>

        <p><strong>木作施工</strong></p>

        <p>横跨供暖易致材料变形</p>
        <p>由于采暖开始前后室内温度变化较大，一些容易受室内温度影响的项目应尽量安排在采暖开始前完成，或在采暖开始后再开始进行施工。</p>
        <p>在室内装修中，进行木作装修的施工人员需要在零上5摄氏度的环境中作业，如果无法达到上述条件，那么木作施工将会受到较大影响。</p>

        <p>尽管今天需要现场完成木制作的家庭装修案例已经趋于减少，但是在一些大型的别墅装修中，施工人员仍旧需要现场完成一些个性化装修，现场制作木质书架和木质吊顶等。这时，如果室内温度低于5摄氏度，施工质量将会受到很大影响。</p>
        <p>
            “涂料、乳胶和一些水质材料保存都必须在零上5摄氏度，因为涂料、乳胶里面含有水分，温度过低会致其结冰，结冰后的涂料、乳胶粘接强度会发生改变，涂料和乳胶失去了粘结力，应禁止使用。”家装业内资深人士胡增光说，当油工进行木作家具上的乳胶和墙面涂料施工中，受到温度较低的影响以后，水分挥发比较慢，应保证水分充分挥发后基底干透再进行下一道工序施工。
        </p>
        <p>胡增光对北京晚报家居周刊记者解释说，一般情况下，木材的含水率不能高于12%，如果含水率过高，木材很容易出现收缩变形和开裂的现象。冬季施工木作家具表面涂刷乳胶，温度较低水分挥发过慢、木作含水率升高，木材的收缩率就会上升，从而导致木材变形和开裂。</p>

        <p>
            <strong>瓦工作业</strong>
        </p>
        <strong>需防冻避免后期空鼓脱落</strong>
        <p>1、选购墙面漆性能很重要 </p>
        <p>
            在冬季装修中，瓦工也需在零上5摄氏度的环境中作业。
        </p>
        <p>当施工人员采用薄贴法铺贴墙砖时，需要先将粘贴剂涂抹至墙砖背面，如果粘贴剂遇冷受冻，会影响其粘性。家装业内资深人士胡增光称，不仅是铺贴墙砖，铺贴地砖有时也会遇到同样的问题，施工人员在铺贴地砖时所用的水泥材料，同样不能受冻。他们现场作业时，将水泥搅拌完以后如果周围温度过低，那么搅拌完的水泥受冻会失去粘接强度，铺贴完成后的地砖会大面积空鼓。</p>
        <p>“到了冬季，北京气温往往昼夜温差较大，那么在即将供暖前的几天，如果施工人员坚持作业，那么业主很可能会遇到墙砖脱落的问题。”胡增光称，上午刚铺装好的墙砖，结果晚上受低温影响，墙砖很快开始出现松动的现象。</p>
        <p>据了解，如果业主家的房屋装修完半年以后，墙砖开始出现大面积的松动、脱落，那么很有可能是因为当初施工温度过低导致的。但是如果该业主家只有个别墙砖出现了松动现象，那么有可能是当初施工人员的施工工艺出了问题。</p>

        <p>
            <strong> 油工作业</strong>
        </p>
        <p>需延长晾置时间以防开裂</p>
        <p>
            除了木工、瓦工，另一个需要在冬季装修中注意室内温度再进行作业的工种，就是油工。油工在进行装修施工时，他们为墙面粉刷涂料前必须先找平石膏，然后刮三遍腻子，再对墙面进行打磨、涂刷。

        </p>
        <p>　施工人员在进行上述工序时，如果在腻子没有干透的情况下就开始下一道工序，墙面的基底里面就会含有水分，那么在墙面施工完工后入住，可能还不会出现问题，但是到了第二年春季，随着水分的逐步挥发很容易出现墙面开裂的现象。据了解，如果墙面开裂，施工人员可以将裂缝划开补上一些腻子，再贴上一层防裂纸，然后刮上一层腻子，最后再滚刷一层涂料即可修复。如果修复得当，被修复后的地方并不会有太大瑕疵。 </p>
        <p>“这就是为什么春、秋两季是装修旺季的原因，因为北京的春、秋两季水分挥发快，空气比较干燥，空气湿度较为平衡，便于装修施工。”家装业内资深人士胡增光称，如果业主选择冬季装修，那么应该将施工周期相应拉长，不要赶工催工，务必保证所有工序基本干燥，再进行下一道工序，否则后期将很容易出现施工质量问题。</p>

    </article>
    <div class="prenext">
        <ul>
            <li>上一篇：<a href="">关于建筑装饰工程造价的控制措施</a> </li>
            <li>下一篇：<a href="">装修三大工程结束后的保洁注意事项</a> </li>
        </ul>
    </div>
</div>