@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="article_left">
    <article>
        <h1>【科普篇】装修先了解专业术语！</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p><h2>【科普篇】装修先了解专业术语！</h2></p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_04_01.jpg" /></p>
        <p>
            买房子的千千万，但是又有几个是专业做装修的呢？如果在装修过程中听不懂那些专业术语，会不会被骗，会不会加钱，会不会装修质量出现问题？
        </p>
        <p>
            虽然装修术语挺枯燥的，但是如果你真的需要装修，了解一些十分有必要，就算是看在省钱的面子上。
        </p>
        <p>
            今天小编从装修最基础的入门词语开始，这样大家在看预算的时候也不会一头雾水了。
        </p>
        <p>
            <strong>找平</strong>
        </p>
        <p>
            找平主要针对的是不平整的地面，如果你家地面已经很平整了，符合地面材料铺设的要求，那就没必要花这个钱了。
        </p>
        <p>
            当然还是有很多房子的找平不能省略，比如二手房铲除了之前铺的地砖，那地面就肯定需要找平了。还有一些地板对地面的平整度要求很高，也是需要人工再找平一遍的，不然地板没法铺。有些厂家在铺装前会提供勘测平整度的服务，可以等厂家勘测结束再决定自己需不需要找平。
        </p>
        <p>
            目前用的比较多的是水泥砂浆找平和自流平，后者的价格要贵一些。
        </p>
        <p>
            <strong>45°切角</strong>
        </p>
        <p>
            瓷砖的45°切角已经是装修必备的美观性工序之一了。
        </p>
        <p>
            说道切角，我们首先要了解什么是阴阳角，阳角就是墙面凸出来的那个角，处于明处，相对应暗处那个就是阴角。
        </p>

        <p>
            如果两块瓷砖在阳角处直接拼接，就会出现有一面瓷砖的横切面露在外面，虽然瓷砖都很薄，但是露出来还是会影响美观程度。所以现在一般装修都会把两侧的瓷砖打磨成45°在进行拼接，这样就不会出现这种问题了，也有时候会被称为倒角或者斗角。
        </p>
        <p>
            如果不想做45°切角，也可以使用阳角条，但是装出来效果不怎么好看，现在已经很少人用了。
        </p>
        <p>
            <strong>勾缝</strong>
        </p>
        <p>
            勾缝说的通俗易懂就是在瓷砖中间的缝隙里填东西，所以也可以叫填缝。
        </p>
        <p>
            一般墙砖的缝隙应该控制在1~1.5mm左右，外墙文化砖一般在5mm以上，如果缝隙小了，瓷砖在热胀冷缩的时候就有可能吧釉面挤裂。
        </p>
        <p>
            至于填缝的材料，一半多使用传统的白水泥，也有专门的美缝剂，颜色更丰富，价钱也自然要更高。瓷砖在刚铺贴好时不要开始勾缝，这个时候容易松动，应该等到一天以后再开始勾缝。一般做预算时，要先把相应的缝隙、所用填缝剂的量都标清楚。
        </p>
        <p>
            <strong>刷界面剂</strong>
        </p>
        <p>
            如果是女孩子会比较容易理解，其实和化妆时用的粉底比较像，就是打底的。
        </p>
        <p>
            既然是粉底，自然是用在最基层在混凝土表面涂上这种胶黏剂后可以使基层表面变得粗糙，增强可水泥砂浆对基层的粘合力，也可以避免抹灰层空，比起传统的胶水，环保性能也有所增强。
        </p>
        <p>
            <strong>防盗门灌浆</strong>
        </p>
        <p>
            防盗门的门框是空心的，为了让门更牢固，所以要在门框的空心处填充水泥，防盗门的门框上通常有6个小洞，直接往里面灌水泥就可以。一边灌浆一边用小木槌轻敲门框，好让门框中的水泥夯实一些。等灌满扣上小圆盖，再擦干净就可以了。
        </p>
        <p>
            如果是冬天进行填充的话，最后加上防冻液。
        </p>
        <p>
            <strong>二度防水</strong>
        </p>
        <p>
            防水大家都知道，就像卫生间地面这类看得到水的地方，都需要做防水。而还有一些看不见的集中在墙面的水汽，也是需要做好防水措施的。
        </p>
        <p>
            现在大家大部分都是住在单元楼里，并不是自己一家的独栋，所以防水一定要重视，不然影响邻里关系就很麻烦了。
        </p>
        <p>
            防水材料分为刚性和柔性的，家装中多使用后者，在建筑表面形成一层薄膜，这样就能把水汽和墙壁隔绝开来。而二度防水就像是刷漆的二遍一样，为了杜绝渗水隐患而存在的。
        </p>
        <p>
            想要系统的梳理家居知识，想要在装修时不当一无所知的小白，加入我们吧！严绿装饰将定期为你解答迷津。
        </p>
        <p>
            好设计，好家装，就找严绿装饰。
        </p>
       


    </article>
    <div class="prenext">
        <ul>
            <li>上一篇：<a href="">关于建筑装饰工程造价的控制措施</a> </li>
            <li>下一篇：<a href="">装修三大工程结束后的保洁注意事项</a> </li>
        </ul>
    </div>
</div>