@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="article_left">
    <article>
        <h1>【菜鸟必修课】一分钟读懂装修！</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p><h2>要装修了？这些家装流程你应该知道！</h2></p>

        <p>
            <strong>1、前期设计</strong>
        </p>
        <p>
            制定整体预算，确定基础装修、主材、家具、家电等项目分配预算；根据自己的装修预算可以列出一个详细的清单，这个清单越详细越好，清单能大幅度减少你后期装修增项的发生。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_01.jpg" /></p>
        <p>
            <strong>2、技术施工</strong>
        </p>
        <p>
            <h2>【基本施工流程】</h2>
        </p>
        <p>
            物业审批→开工技术交底→水电改造→瓦工→木工→油工→安装→完工保洁

        </p>

        <p>
            （1）、物业审批
        </p>
        <p>
            开工前需要到物业办理装修许可手续，表格的大致内容是装修的基本信息、相关负责人等，需要交纳押金，办理出入证（方便装修方进出小区），接下来是交底，确认装修细节，然后材料进场开始施工。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_02.jpg" /></p>
        <p>
            <strong>（2）、水电改造</strong>
        </p>
        <p>
            第一道施工工序是水电改造，根据业主的生活习惯来增加或减少开关插座的数量，或者是移动位置，下面是一些常用的尺寸：
        </p>
        <p>
            1）淋浴出水口距地1100mm
            2）洗衣机插座距地1100-1200mm
            3）插座位与原插座位保持相对一致的高度，一般为300-350mm
            4）双控开关距地850mm
            5）壁挂电视电源位距地1100-1300mm
            6）开关距地1200-1400mm
            7）挂式空调距地1800mm
        </p>

        <p>
            当然，具体高度还要根据房屋情况和每个人的生活习惯来确定；另外，还有一些水压测试，开关是否有电，网络是否畅通等等，这些应该在验房阶段就已经检测过，如有问题应联系开发商及时整改。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_03.jpg" /></p>

        <p>
            <strong>（3）、瓦工、木工</strong>
        </p>
        <p>
            （根据地区、工艺不同，施工先后顺序根据具体情况来定）
        </p>
        <p>
            一般墙砖的缝隙应该控制在1~1.5mm左右，外墙文化砖一般在5mm以上，如果缝隙小了，瓷砖在热胀冷缩的时候就有可能吧釉面挤裂。
        </p>
        <p>
            至于填缝的材料，一半多使用传统的白水泥，也有专门的美缝剂，颜色更丰富，价钱也自然要更高。瓷砖在刚铺贴好时不要开始勾缝，这个时候容易松动，应该等到一天以后再开始勾缝。一般做预算时，要先把相应的缝隙、所用填缝剂的量都标清楚。
        </p>
        <p>
            <strong>刷界面剂</strong>
        </p>
        <p>
            <h2>【瓦工】</h2>
        </p>
        <p>
            主要是负责防水施工、地面找平、瓷砖铺贴（如果是铺地板要和瓦工交接）、石材安装等工作。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_04.jpg" /></p>
        <p>
            <h2>【木工】</h2>
        </p>
        <p>
            主要是负责吊顶、家具制作、门窗制作、装饰门套、装饰构件、装饰背景、木地板安装等工作。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_05.jpg" /></p>
        <p>
            <strong>（4）、粉刷墙面</strong>
        </p>
        <p>
            墙面基层要处理好，否则会留下隐患。出现墙面开裂、起皮、发霉问题等等。
            乳胶漆一定要选择安全环保的品牌，尽量选择一线大牌。
        </p>
        <p><strong>（5）、安装</strong></p>
        <p>
            到这一步就代表硬装施工基本完成，接下来就是主材安装，也是装修的最后阶段。
            主材安装需要安装洁具、橱柜、灯具、开关面板、门、定制衣柜、五金件、地板等等。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_05_06.jpg" /></p>
        <p><strong>3、完工保洁</strong></p>
        <p>
            全屋打扫干净、保洁清扫不留死角。全屋通风，阴雨天要记住关好窗户，以免雨水浸泡地板。
        </p>



    </article>
    <div class="prenext">
        <ul>
            <li>上一篇：<a href="">关于建筑装饰工程造价的控制措施</a> </li>
            <li>下一篇：<a href="">装修三大工程结束后的保洁注意事项</a> </li>
        </ul>
    </div>
</div>