@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="article_left">
    <article>
        <h1>毛坯房验房注意事项 如何验房才能防止被骗！</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p><h2>毛坯房验房注意事项</h2></p>
        <p>
            <strong>验房前准备好验房三件套：卷尺一个、水平尺一个、水桶一只。</strong>
        </p>

        <p>
            1、毛坯房验房注意事项，第一点也是最重要的一点，地面和墙面。用水平尺分别放在地上和墙上，检查是否平整，如果有空鼓要第一时间联系开发商解决，否则后患无穷。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_01.jpg" /></p>
        <p>
            2、厨房，卫生间，阳台都是要与水作伴的空间，所以地漏排水很重要!验房时用水桶往地漏口倒水，检查排水是否通畅，有问题要及时解决。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_02.jpg" /></p>
        <p>
            3、卫生间的下水管的阻火圈是必不可少的，别看只是一个小东西，其实对日后的安全影响是很大的。如果很多业主都反映没有装阻火圈，要及时对开发商投诉!
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_03.jpg" /></p>
        <p>
            4、毛坯房验房注意事项，测试地面防水是否合格，地面防水不靠谱不仅对自己有很大影响，楼下的邻居更是遭殃，到时候天天找上门真头痛。这边分享一个比较管用的测试方法，将卫生间的下水管堵住，然后加一定高度的水，封闭几天，通过水位的下降情况来检验防水是否合格。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_04.jpg" /></p>
        <p>
            5、门窗检查不能忘，特别是阳台，现在每家每户都有小孩，必须要挨个确认门窗的安全性以及是否可以正常使用。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_05.jpg" /></p>
        <p>
            6、基础设施检查完毕，毛坯房验房注意事项中最后一步就是检查新房面积了，看是否与合同标注的一致。如果测量发现面积小了超过3%以上，可以向开发商索要赔偿哦。
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_06.jpg" /></p>

        <p><h2>验房的工具有哪些</h2></p>
        <p>了解了毛坯房验房注意事项之后，我们要准备好一些验房的工具，这些工具能很快的检验出房子的质量问题。</p>
        <p>
            <strong>　1、软管或大水桶</strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_07.jpg" /></p>
        <p>
            作用：用于验收排水管道，用水桶向排水管道注水;或用软管接进水管，可以持续向排水管注水;
        </p>
        <p>
            标准：排水畅通。
        </p>
        <p>
            <strong>
                2、空鼓锤
            </strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_08.jpg" /></p>
        <p>
            作用：用于检测墙体与地面是否空鼓;
        </p>
        <p>
            标准：若墙体无空鼓，敲击发出的声音比较硬朗有质感;若有空鼓，则发出的声音比较躁。(毛坯房验房各位可以用手敲正常的实体墙壁跟木门，对比声音)
        </p>
        <p>
            <strong>　　3、卷尺</strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_09.jpg" /></p>
        <p>
            然后加一定高度的水，封闭几天，通过水位的下降情况来检验防水是否合格。
        </p>
        <p>
            标准：毛坯房验房对比购房合同的户型图，若无合同约定，面积误差应在3%以内。
        </p>
        <p>
            <strong>4、塞尺</strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_10.jpg" /></p>
        <p>
            作用：如果有裂缝，用于测量裂缝的宽度;
        </p>
        <p>
            标准：裂缝允许在(0.3mm)范围内;若天花板或墙面出现裂缝，且与墙角呈45°或与横梁垂直的裂缝，就该怀疑为沉重结构受损，需要进行更专业的检测了。
        </p>
        <p>
            <strong>5、验电插头、电笔(万能表)</strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_11.jpg" /></p>
        <p>
            作用：测试强电插座、弱电接口是否正常;
        </p>
        <p>
            标准：打开电源开关，用验电插头或电笔检测各插座;关闭开关，再检测一遍(确保开关正常工作);而弱电部分的验收，需要用万能表进行检测，涉及较深，小盒子在这就不讲了。
        </p>
        <p>
            <strong>　6、水压表</strong>
        </p>
        <p class="p_center"><img src="~/Content/Images/Articles_images/article_07_12.jpg" /></p>
        <p>
            作用：检测水压是否正常;
        </p>
        <p>
            标准：毛坯房验房水压(1mPa=10公斤)正常在1.5公斤到3.5公斤之间， 低于1.5公斤的话煤气热水器点火难，高于3.5公斤的话三角阀、软管等设备容易坏。
        </p>
        <p>
            <strong>7、打火机/报纸</strong>
        </p>
        <p>
            作用：检测排气管是否畅通;
        </p>
        <p>
            标准：在排气口点报纸，观察烟是否被排气管排走。
        </p>
        <p>
            <strong>8、手电筒</strong>
        </p>
        <p>
            作用：检测墙面平整度，在较暗的空间还可以提供照明支持;
        </p>
        <p>
            标准：平射墙面，若墙面不平整则会在墙上形式阴影。
        </p>
        <p>
            <strong>10、垂直检测尺</strong>
        </p>
        <p>
            作用：垂直度、水平度和平整度检测;
        </p>
        <p>
            标准：墙面垂直度允许偏差范围在5毫米之内。
        </p>
        <p>
            <strong>11、直角检测尺</strong>
        </p>
        <p>
            作用：毛坯房验房内外(阴阳)直角的偏差，及一般平面的垂直度与水平度;
        </p>
        <p>
            标准：按照国家，阴阳角的偏差不能超过4毫米。
        </p>

    </article>
    <div class="prenext">
        <ul>
            <li>上一篇：<a href="">关于建筑装饰工程造价的控制措施</a> </li>
            <li>下一篇：<a href="">装修三大工程结束后的保洁注意事项</a> </li>
        </ul>
    </div>
</div>