<div class="main_con" style="transform: translateY(46px);">
    <div class="banner_con">
        <img class="banner_img" src="~/Content/Images/content_img/banner_con_2.jpg" />
        <div class="banner_txt"><img src="~/Content/Images/content_img/banner_con_2txt.png" /></div>
    </div>
    <!--旧房改造-->
    <div class="houseOldGai">
        <div class="width1200 fm">
            <h3 class="houseTitle">
                <i class="top"><img src="~/Content/Images/title1.png"></i>
                <span>拆改全包服务</span>
                <i class="bottom"><img src="~/Content/Images/title2.png"></i>
            </h3>
            <h2 class="houseHeading">从老房到毛坯拆改全包服务</h2>
            <h6>老房<span>799+119元</span>/㎡<em>（拆改服务费）</em></h6>
        </div>
        <div class="houseOldGaiText">
            <div class="width1200">
                <ul num="2" style="width: 2905px; left: -830px;">

                    <li>
                        <img src="~/Content/Images/0e1528398a7bb35ba3a4a9184e33f4d3.png">
                        <em>1</em>
                        <div>
                            <p>原有装修主材、产品、木作、灯具、配饰等；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/4b62ee814f754be440a80739576b56b7.png">
                        <em>2</em>
                        <div>
                            <p>含当废品处理的空调机，若要再次使用，甲方需要自行解决拆除；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/36b576ff81ee131add61624a7e102d61.png">
                        <em>3</em>
                        <div>
                            <p>墙地瓷砖、木地板、踢脚线、水泥砂浆粘结层（找平层）20－30mm厚，卫生间地面抬高部分的垫层；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/2ecc1864a9c1c8e9897dc87b89164923.png">
                        <em>4</em>
                        <div>
                            <p>非承重隔墙。如轻质隔墙板、轻钢龙骨石膏板墙、陶粒砌块墙、轻体砖砌块墙；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/8ff312564cd665d5f977efd1ea0d2d4c.png">
                        <em>5</em>
                        <div>
                            <p>墙皮铲除根据情况。非耐水腻子墙面铲到墙体基层；沙灰墙铲到红砖墙（个性化）；内保温墙只需表面封一层石膏板（个性化）；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/1eabcd7af15ba7cd4778b0d0e73e54cc.png">
                        <em>6</em>
                        <div>
                            <p>不含原楼板砂浆垫层的拆除，不含地采暖回填层、布管层、保温层的拆除，不含地面暖气埋管层的拆除；</p>
                        </div>
                    </li>

                    <li>
                        <img src="~/Content/Images/feaedeff5bd245df5e8024b798a42924.png">
                        <em>7</em>
                        <div>
                            <p>拆除项目均为破坏性拆除；</p>
                        </div>
                    </li>

                </ul>
            </div>
            <a class="left" style="display: inline;"><img src="~/Content/Images/old_left.png"></a>
            <a class="right" style="display: block;"><img src="~/Content/Images/old_right.png"></a>
        </div>
    </div>

    <!--服务对象-->
    <div class="houseObject active hover">
        <div class="width1200 fm">
            <h3 class="houseTitle">
                <i class="top"><img src="~/Content/Images/title3.png"></i>
                <span>服务对象</span>
                <i class="bottom"><img src="~/Content/Images/title4.png"></i>
            </h3>
            <div class="houseObjecText">
                <h2>西安市、咸阳市（及周边市区）</h2>
                <span>服务标准</span>




                <div class="houseObjectOvh">
                    <p>建筑面积70㎡（含70㎡, 低于70㎡按70㎡计算）~200㎡（含200㎡）</p>

                    <p>
                        建筑面积核算根据实际情况分为以下三种，<br>
                        以下三种单独适用，不可混合计算，房屋测量后订金不退在合同签订后，转为装修款<strong>；</strong>
                    </p>

                    <p>A、甲方（客户）需在签订装修合同时出具房本或购房合同，房屋若无异形等特殊部分和赠送部分，且实测套内使用面积除以0.75小于房本面积，计价建筑面积以房本或购房合同上登记的为准；</p>

                    <p>B、若甲方（客户）无法提供房本或者购房合同的则计价建筑面积=实测套内使用面积/0.75+露台面积的1/2,同时需要出具无法提供房本或者购房合同相关部门的证明文件；</p>

                    <p>C、若房屋存在异形等特殊部分和赠送部分使得房本与购房合同载明的建筑面积与实测套内使用面积/0.75存在误差的，则按照实测套内使用面积除以0.75的系数计算计价建筑面积。</p>

                    <p>计算面积原则按照：A-B-C选项顺序采用执行《例A选项不能满足执行B选项，B选项不能满足执行C选项》</p>

                    <p>远程费：西安套餐范围外25公里内（含25公里）远程施工费收取标准为5%；远程服务费最少金额不得低于500元/户。</p>

                    <p>房屋类型：平层 毛坯新房</p>

                    <p>税金费率：3.64%</p>

                    <p>&nbsp;</p>
                </div>
                <a class="houseObjectClick">
                    <span style="display: inline;">[ 展 开 ]</span>
                    <span style="display: none;">[ 收 起 ]</span>
                </a>
            </div>
            <img class="houseObjectImg" src="~/Content/Images/object_dt.png">
        </div>
    </div>





    <!--旧房案例-->
    <div class="jfa_anli">
        <div class="container-fluid">
            <h1>致力打造 旧房变新装</h1>
            <p>严绿装饰旧房评估、设计、改造，让您的家焕然一新！</p>


            <div class="jf_anli_1">
                <a class="jf_anli_1_img homeBrandBack">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/content_img/jf_anli_01.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="jf_anli_1_txt shadow">
                    <a href="">振业泊 五室四厅三卫一厨</a>
                </div>

            </div>

            <div class="jf_anli_1">
                <a class="jf_anli_1_img homeBrandBack">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/content_img/jf_anli_02.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="jf_anli_1_txt shadow">
                    <a href="">振业泊 五室四厅三卫一厨</a>
                </div>

            </div>

            <div class="jf_anli_1">
                <a class="jf_anli_1_img homeBrandBack">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/content_img/jf_anli_03.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="jf_anli_1_txt shadow">
                    <a href="">振业泊 五室四厅三卫一厨</a>
                </div>

            </div>

            <div class="jf_anli_1">
                <a class="jf_anli_1_img homeBrandBack">
                    <img class="homeBrandQwhbBack" src="~/Content/Images/content_img/jf_anli_04.jpg" />
                    <span>查看案例</span>
                </a>
                <div class="jf_anli_1_txt shadow">
                    <a href="">振业泊 五室四厅三卫一厨</a>
                </div>

            </div>

            <div class="anli_more"><a href="">查看更多案例</a></div>




        </div>
    </div>

    <!--材料配置-->

    <div class="pinpai_con">

        <div class="container-fluid">
            <h1>甄选名品 品牌特供 颜质具备</h1>
            <p>各类装饰品牌材料的全力支持，只为让您的装修省时，省心，省力，更省钱！</p>
        </div>
        <div class="pinpai_list">
            <div class="container-fluid">
                <ul>
                    <li><img src="~/Content/Images/content_img/hzpp_icon1.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon2.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon3.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon4.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon5.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon6.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon7.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon8.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon9.jpg" /></li>
                    <li><img src="~/Content/Images/content_img/hzpp_icon10.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>

</div>
