@{
      Layout = "~/Views/Shared/_MasterLayout.cshtml";
    }
<div class="article_left">
    <article>
        <h1>轻谱北欧的主旋律</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月5日</span></div>
        <p>轻谱北欧的主旋律</p>
        <p class="p_centaer"><img src="~/Content/Images/Cases/Case_oushi-4/Case_oushi-4-1.jpg" /></p>

        <p class="p_centaer"><img src="~/Content/Images/Cases/Case_oushi-4/Case_oushi-4-2.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/Cases/Case_oushi-4/Case_oushi-4-3.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/Cases/Case_oushi-4/Case_oushi-4-4.jpg" /></p>
    </article>
    
</div>