@{
      Layout = "~/Views/Shared/_MasterLayout.cshtml";
    }
<div class="article_left">
    <article>
        <h1>新中式风格</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p>新中式,取自天然的设计素材，将中式与现代的简约之美恰到好处的融合为一体，少许禅意，营造提升了空间的文化韵味，一丝不苟的线条让空间大气通透，色调的把握与光、影的结合，恰到好处。</p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case3_1" /></p>

        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case3_2" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case3_3" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case3_4" /></p>
    </article>
    
</div>