@{
      Layout = "~/Views/Shared/_MasterLayout.cshtml";
    }
<div class="article_left">
    <article>
        <h1>现代风格</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner01_Case3_0.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner01_Case3_1.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner01_Case3_2.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner01_Case3_3.jpg" /></p>
    </article>
    
</div>