@{
      Layout = "~/Views/Shared/_MasterLayout.cshtml";
    }
<div class="article_left">
    <article>
        <h1>美式复古</h1>
        <div class="p_center"><span>来源：严绿装饰有限公司</span><span>时间：2018年2月3日</span></div>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case1_1.jpg" /></p>

        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner02_Case1_2.jpg" /></p>
        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner03_Case1_3.jpg" /></p>
        <p>玄关,走廊处，大面积采用白色，并采用淡绿色作为修饰，使空间清新而自然，顶面造型简约而时尚。</p>

        <p class="p_centaer"><img src="~/Content/Images/DesignerCase/designner03_Case1_4.jpg" /></p>
    </article>
    
</div>